// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h3.event-title {
  color: #60008c;
}

h3.event-title a:visited {
  color: #60008c;
}

h3.event-title a:active {
  color: #bb26ff;
}